
# Visual Studio temporary files
.vs/
*.user
*.suo
*.userprefs

# Build artifacts
bin/
obj/

# Rider IDE files
.idea/

# Package directories
packages/
node_modules/

# Logs
log/
*.log

# Database data
docker/postgres/data/

# Grafana data
docker/grafana/
